<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body onload="loadpapers()">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">Exam Generator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:8080/paper_view">View Paper</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost:8080/paper_create">Create Paper</a>
            </li>


        </ul>
    </div>
</nav>

<main>
    <div class="row mt-3">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <label class="navbar-brand" href="#">
<!--                    <img src=""-->
<!--                         width="30" height="30" class="d-inline-block align-top" alt="">-->
                    View Papers
                </label>
            </nav>
        </div>
    </div>

    <div class="row mt-2">
        <div class="container">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="container">
                            <div class="row" id="paperload">
                                <!--                                <div class="col-sm-3" onclick="redirectSheet()">-->
                                <!--                                    <div class="card">-->
                                <!--                                        <div class="card-body">-->
                                <!--                                            <h5 class="card-title">Question Name</h5>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="col-sm-3">-->
                                <!--                                    <div class="card">-->
                                <!--                                        <div class="card-body">-->
                                <!--                                            <h5 class="card-title">Question Name</h5>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="col-sm-3">-->
                                <!--                                    <div class="card">-->
                                <!--                                        <div class="card-body">-->
                                <!--                                            <h5 class="card-title">Question Name</h5>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <div class="col-sm-3">-->
                                <!--                                    <div class="card">-->
                                <!--                                        <div class="card-body">-->
                                <!--                                            <h5 class="card-title">Question Name</h5>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<div class="footer-copyright text-center py-3 bg-secondary mt-3 text-white">© 2021 Ceyentra:

</div>

<!--<script rel="script" type="application/javascript" src="/static.dist/bootstrap/js/bootstrap.min.js"></script>-->
<!--<script rel="script" type="application/javascript" src="/static.dist/jquery/jquery.min.js"></script>-->
<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>

    function redirectSheet(id) {
        window.location.replace("http://localhost:8080/paper_profile?id="+id);
    }


    //loadPaper Cards
    function loadpapers() {
        let papercount=0;
        let paperList = new Array();
        $.ajax({
            url: "http://localhost:8080/paper",
            dataType: 'json',
            method: "get",
            success: function (res) {
                let data = res.data;
                for (var i in data) {
                    paperList.push({
                        id: data[i].p_id,
                        name: data[i].p_name
                    })
                    papercount+=1;
                }
                //Append papers to sheet
                if (papercount!=0) {
                    for (let i = 0; i <papercount ; i++) {

                        let paperRow = '<div class="col-sm-3"  onclick="redirectSheet('+res.data[i].p_id+')">\n' +
                            '<div class="card">\n' +
                            '<div class="card-body">' +
                            ' <h5 class="card-title">' +res.data[i].p_name + '</h5>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>';
                        $('#paperload').append(paperRow);
                    }

                }

            }
        });



    }







</script>
</body>
</html>
